@media (max-width: 767px) {
    section {
        padding: 20px 0;
    }
}

@media (max-width: 576px) {
    .colleagues table tr {
        font-size: 16px;
    }

    .colleagues td,
    .colleagues th {
        padding: 6px;
    }
}